.member-name-div {
    background-color: var(--maincolor);
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.member-name {
    color: white;
}
.tags{
    height: 100px;
    white-space:nowrap;
}

.tag {
    background-color: #646161;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 5px;
    float: left;

}


.view-profile-div {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: var(--maincolor);
    border-radius: 5px;
    height: 24px;
    line-height: 25px;
}

.view-profile {
    color: white;
    text-decoration: none;
}

hr {
    border: 1px solid #969696;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 575.9px) {
    .team-name{
        font-size: 2rem;
    }
    .member-name {
        font-size: 1rem;
    }
}