<div class="container">
    <div class="info-bar-table m-3 d-flex flex-column flex-sm-row justify-content-between align-items-center ">
        <div>
            <span class="all-team-members fs-3">All team members</span>
        </div>
        <div class="d-flex align-items-center mt-3 mt-sm-0 buttons-div ms-100">
            <button class="btn btn-light change-to-teams-view">Change to teams view</button>
        </div>
    </div>
    <div class="table-div fs-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="team-member-name-header">Team Member</th>
                    <th class="team-name-header">Team</th>
                    <th class="skill-name-header">Skill 1</th>
                    <th class="skill-name-header">Skill 2</th>
                    <th class="skill-name-header">Skill 3</th>
                    <th class="skill-name-header">Skill 4</th>
                    <th class="skill-name-header">Skill 5</th>
                    <th class="skill-name-header">Skill 6</th>
                    <th class="skill-name-header">Skill 7</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="team-member-name">Kis Pista</td>
                    <td>Webserver1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row explanation-table d-flex flex-column flex-sm-row mt-2 fs-6">
        <div class="col excelent-skill align-middle">
            <span class="explanation-span">Excelent Skill</span>
        </div>
        <div class="col good-skill">
            <span class="explanation-span">Good Skill</span>
        </div>
        <div class="col average-skill">
            <span class="explanation-span">Average Skill</span>
        </div>
        <div class="col needs-training">
            <span class="explanation-span">Needs Training</span>
        </div>
    </div>
</div>
