
    <div class="card">
        <div class="teamNameDiv">
            <span class="teamName">Webserver1</span>
        </div>
        <div class="teamMembersDiv">
            <span class="memberName">Kis Pista</span>
            <hr>
            <span class="memberName">Nyomo Réka</span>
            <hr>
            <span class="memberName">Kukor Ica</span>
            <hr>
        </div>
    </div>
<!-- 
<div class="container cards">
    <div class="col card">
        <div class="memberNameDiv">
            <span class="memberName">Kis Pista</span>
        </div>
        <div class="tagsDiv">
            <span class="tag">JavaScript Master</span>
            <span class="tag">C++ student</span>
            <span class="tag">Angular ember</span>
        </div>
        <div class="viewProfileDiv">
            <span class="viewProfile">View prfile</span>
        </div>
    </div>
    <div class="col card">
        <div class="memberNameDiv">
            <span class="memberName">Kis Pista</span>
        </div>
        <div class="tagsDiv">
            <span class="tag">JavaScript Master</span>
            <span class="tag">C++ student</span>
            <span class="tag">Angular ember</span>
        </div>
        <div class="viewProfileDiv">
            <span class="viewProfile">View prfile</span>
        </div>
    </div>
</div> -->