<!-- <div class="container infobar">
    <span class="col pageName">All teams</span>
    <span class="col teamnumber"> x teams</span>
    <button class="col tableviewButton">Change to table view</button>
    <button class="col editteamsButton">Edit teams</button>
</div> -->

<div class="container-fluid infobar">
    <span class="col green-box page-name">Webserver 1</span>
    <span class="col teamnumber"> 4 members</span>
    <button class="col tableviewButton">Change to table view</button>
    <button class="col editteamsButton">Edit team</button>
</div>