<div class="team-card">
    <div class="team-name-div">
        <span class="team-name">Webserver1</span>
    </div>
    <div class="team-members-div pb-3">
        <span class="member-name">Kis Pista</span>
        <hr>
        <span class="member-name">Nyomo Réka</span>
        <hr>
        <span class="member-name">Kukor Ica</span>
        <hr>
        <span class="member-name">Loaf asszony</span>
        <hr>
        <span class="member-name">Locsoló K. Anna</span>
        <hr>
        <span class="member-name">Nagy Árpi</span>
        <hr>
        <span class="member-name">Andriska Pál</span>
        <hr>
        <span class="member-name">Vastag Barna</span>
        <hr>
        <span class="member-name">Végh Béla</span>
    </div>
</div>