<div class="container-fluid">
    <div class="profile-data card">
        <div class="card-header profile-header">
            <span *ngIf="!isEditing" class="profile-name">{{ member.member_name }}</span>
            <div *ngIf="isEditing" class="input-group profile-name-div">
                <input type="text" class="form-control" id="profile-name-input" placeholder="Profile name"
                    value="{{member.member_name}}" aria-label="Profile name" maxlength="64"
                    (change)="saveMemberName($event)">
            </div>
            <ng-container *ngIf="canEdit()">
                <a *ngIf="!isEditing" role="button" class="btn btn-light profile-button" (click)="toggleEdit()"><i
                        class="bi bi-pencil-fill"></i>Edit
                    profile</a>
            </ng-container>
            <a *ngIf="isEditing" role="button" class="btn btn-light profile-button" (click)="saveEdit()"><i
                    class="bi bi-pencil"></i>Leave
                editing mode</a>
        </div>
        <div class="availability list-group list-group-flush">
            <div class="list-group-item">
                <div class="row">
                    <div class="col">
                        <div *ngIf="!isEditing">
                            <i class="bi bi-microsoft-teams data-icon"></i>
                            <span class="data">{{member.teams_name}}</span>
                        </div>

                        <div *ngIf="isEditing" class="form-floating mb-3">
                            <input type="text" [readOnly]="!isAdmin" class="form-control" id="teams-name-input"
                                placeholder="Teams name" value="{{member.teams_name}}" aria-label="Teams name"
                                maxlength="64" (change)="saveMemberTeamsName($event)">
                            <label for="teams-name-input">Teams name</label>
                        </div>

                        <div *ngIf="!isEditing">
                            <i class="bi bi-envelope-fill data-icon"></i>
                            <span class="data">{{member.email}}</span>
                        </div>

                        <div *ngIf="isEditing" class="form-floating mb-3">
                            <input type="email" [readOnly]="!isAdmin" class="form-control" id="e-mail-input"
                                placeholder="E-mail" value="{{member.email}}" aria-label="E-mail" maxlength="64"
                                (change)="saveMemberEmail($event)">
                            <label for="e-mail-input">Email address</label>
                        </div>
                        <div *ngIf="!isEditing">
                            <i class="bi bi-file-person-fill data-icon"></i>
                            <span class="data">{{member.roles}}</span>
                        </div>

                        <div *ngIf="isEditing" class="form-floating mb-3">
                            <input type="text" class="form-control" id="roles-input" placeholder="Roles"
                                value="{{member.roles}}" aria-label="Roles" maxlength="64"
                                (change)="saveMemberRoles($event)">
                            <label for="roles-input">Roles</label>
                        </div>
                    </div>
                </div>
                <div class="about-div">
                    <div *ngIf="!isEditing">
                        <i class="bi bi-info-circle-fill data-icon"></i>
                        <span class="data">{{member.about}}</span>
                    </div>
                    <div *ngIf="isEditing" class="form-floating mb-3">
                        <textarea value="{{member.about}}" maxlength="2048" class="form-control" id="about-textarea"
                            placeholder="About" aria-label="About" (change)="saveMemberAbout($event)"></textarea>
                        <label for="about-textarea">Roles</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-skills-div">
        <div class="card">
            <div class="card-header profile-header">
                <span class="my-skills">My skills</span>
            </div>
            <div class="accordion pt-1" *ngFor="let category of categoryNames">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapse' + category.category_id" aria-expanded="false"
                            [attr.aria-controls]="'collapse' + category.category_id">
                            {{category.category_name}}
                        </button>
                    </h2>
                    <div id="collapse{{category.category_id}}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row accordion-for"
                                *ngFor="let skill of getCategorySkills(category.category_id); trackBy: trackByFn">
                                <div *ngIf="canEdit()" class="col-sm-2 dots">
                                    <span role="button" class="dot" *ngFor="let dot of [0,1,2,3]; let i = index"
                                        [ngStyle]="dotColor(skill.skill_id ,i)"
                                        (click)="changeSkillLevel(skill.skill_id,i)"></span>
                                </div>
                                <div *ngIf="!canEdit()" class="col-sm-2 dots">
                                    <span role="text" class="dot" *ngFor="let dot of [0,1,2,3]; let i = index"
                                        [ngStyle]="dotColor(skill.skill_id ,i)"></span>
                                </div>
                                <ng-container *ngIf="canEdit()">
                                    <i *ngIf="familiarWithSkill(skill.skill_id)"
                                        (click)="deleteMemberSkill(skill.skill_id)" role="button"
                                        class="col-sm-2 bi bi-x-square-fill visible"></i>
                                </ng-container>
                                <ng-container *ngIf="!canEdit()">
                                    <i *ngIf="familiarWithSkill(skill.skill_id)" role="text"
                                        class="col-sm-2 bi bi-x-square-fill visible"></i>
                                </ng-container>
                                <i *ngIf="!familiarWithSkill(skill.skill_id)"
                                    class="col-sm-2 bi bi-x-square-fill disabled"></i>
                                <div class="col-sm-2 skills">
                                    <span class="skill">{{skill.skill_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>