<div class="container-fluid my-profile-bar">
    <div class="col profile-header">
        <span *ngIf="!isEditing" class="profile-name">{{ member.member_name }}</span>
        <div *ngIf="isEditing" class="input-group mb-3">
            <input class="profile-name-input form-control" type="text" value="{{member.member_name}}"  placeholder="Name" maxlength="128"
            aria-label="Name">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary name-btn" type="button"><i class="bi bi-pencil-fill "></i></button>
            </div>
        </div>

        <a *ngIf="!isEditing" role="button" class="btn btn-light profile-button" (click)="toggleEdit()">Edit profile</a>
        <a *ngIf="isEditing" role="button" class="btn btn-light profile-button" (click)="saveEdit()">Save</a>
    </div>
    <div class="col profile-data">
        <div class="availability">

            <span class="title">Teams name</span>
            <span *ngIf="!isEditing" class="data">{{member.teams_name}}</span>
            <div *ngIf="isEditing" class="input-group mb-3">
                <input type="text" class="form-control data" placeholder="Teams name" maxlength="128"
                    aria-label="Teams name" value="{{member.teams_name}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-pencil-fill"></i></button>
                </div>
            </div>

            <span class="title">E-mail</span>
            <span *ngIf="!isEditing" class="data">{{member.email}}</span>
            <div *ngIf="isEditing" class="input-group mb-3">
                <input maxlength="128" class="data form-control" value="{{member.email}}" placeholder="E-mail"
                    aria-label="E-mail" type="email">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-pencil-fill"></i></button>
                </div>
            </div>

            <span class="title">Roles</span>
            <ng-container *ngIf="!isEditing">
                <ng-container *ngIf="member.roles != '';else other_content">
                    <span class="data">{{member.roles}}</span>
                </ng-container>
                <ng-template #other_content>
                    <span class="data">No roles.</span>
                </ng-template>
            </ng-container>
            <div *ngIf="isEditing" class="input-group mb-3">
                <input type="text" class="form-control roleInput" readonly placeholder="Roles" maxlength="256" aria-label="Roles"
                    value="{{member.roles}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="toggleReadonly()" type="button"><i class="bi bi-pencil-fill"></i></button>
                </div>
            </div>

            <span class="about">About</span>
            <div class="about-div">
                <span *ngIf="!isEditing" class="about-text">{{member.about}}</span>
                <div *ngIf="isEditing" class="input-group mb-3">
                    <textarea value="{{member.about}}" maxlength="2048" class="form-control" placeholder="About" aria-label="About"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="bi bi-pencil-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-skills-div">
            <span class="my-skills">My skills</span>
            <br>
            <div class="accordion" *ngFor="let category of categoryNames">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapse' + category.category_id" aria-expanded="false"
                            [attr.aria-controls]="'collapse' + category.category_id">
                            {{category.category_name}}
                        </button>
                    </h2>
                    <div id="collapse{{category.category_id}}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row accordion-for"
                                *ngFor="let skill of getCategorySkills(category.category_id)">
                                <div class="col-sm-2 dots">
                                    <span class="dot" *ngFor="let dot of [0,1,2,3]; let i = index"
                                        [ngStyle]="dotColor(skill.skill_id ,i)"
                                        (click)="changeSkillLevel(skill.skill_id,i)"></span>
                                </div>
                                <i *ngIf="familiarWithSkill(skill.skill_id)" (click)="deleteMemberSkill(skill.skill_id)"
                                    role="button" class="col-sm-2 bi bi-x-square-fill visible"></i>
                                <i *ngIf="!familiarWithSkill(skill.skill_id)"
                                    class="col-sm-2 bi bi-x-square-fill disabled"></i>
                                <div class="col-sm-2 skills">
                                    <span class="skill">{{skill.skill_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>