<div class="container">
    <div class="info-bar-table m-3 d-flex flex-column flex-sm-row justify-content-between align-items-center ">
        <div>
            <span class="all-team-members fs-3">All team members</span>
        </div>
        <div class="d-flex align-items-center mt-3 mt-sm-0 buttons-div ms-100">
            <a role="button" (click)="goToTeams()" class="btn btn-light change-to-teams-view">Change to teams view</a>
        </div>
    </div>
    <app-skill-table></app-skill-table>
</div>
