.container {
    justify-content: space-between;
}

.navbar{
    background-color: var(--maincolor);
    box-shadow: rgba(65, 69, 88, 0.229) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px ;
}

.nav-link {
    display:grid;
    margin: 10px;
    font-size: 1.125rem;
    color: white;
}

@media only screen and (max-width: 575.9px) {
    .nav-link{
        font-size: 0.775rem;
        margin: 5px;
    }
}