.table-div{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    max-height: 500px;
    text-wrap: nowrap;
}

.skill-name-header {
    background-color: #E9E9E9;
}

.search-bar-div{
    justify-content: center;
    margin-top: 15px;
}

.search-bar{
    width: 40%;
    flex: none;
}

.searched-skill {
    border: blue 2px solid;
}
.team-name-header, .team-member-name-header{
    background-color: #C9C9C9;
}

.team-member-name {
    background-color: #F2F2F2;
}


.explanation-table{
    gap: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.explanation-table span {
    color: white;
}

.explanation-span{
    word-spacing: 0px;
}

.explanation-table div {
    text-align: center;
    border-radius: 5px;
}

.excelent-skill {
    background-color: #44A460;
}

.good-skill {
    background-color: #93D050;
}

.average-skill {
    background-color: #FFC000;
}
.needs-training {
    background-color: #FA5639;
}

@media (max-width: 575.9px) {
    .explanation-table {
        margin-top: 5px;
        gap: 5px;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .explanation-span{
           word-spacing: 9999px;
    }
}

.skills-table td:not(.team-member-name) {
    text-align: center;
}

.skills-table .td_gray {
    background-color: #D9D9D9;
}
.skills-table .td_red {
    background-color: #FB563A;
}
.skills-table .td_yellow {
    background-color: #FFC000;
}
.skills-table .td_lightgreen {
    background-color: #92D14F;
}
.skills-table .td_darkgreen {
    background-color: #45A460;
}