<app-teaminfobar></app-teaminfobar>
<div class="container">
    <div class="row teamview-row">
        <app-teamcard class="col col-lg-3 col-md-4 col-sm-6 team-card-comp"></app-teamcard>
        <app-teamcard class="col col-lg-3 col-md-4 col-sm-6 team-card-comp"></app-teamcard>
        <app-teamcard class="col col-lg-3 col-md-4 col-sm-6 team-card-comp"></app-teamcard>
        <app-teamcard class="col col-lg-3 col-md-4 col-sm-6 team-card-comp"></app-teamcard>
        <app-teamcard class="col col-lg-3 col-md-4 col-sm-6 team-card-comp"></app-teamcard>
    </div>
</div>

