.membercards-row {
    row-gap: calc(var(--bs-gutter-x));
}

@media only screen and (max-width: 575.9px) {
    .container{
        display:block;
        justify-content:center;
        padding: 5px;
    }
}