<div class="background">
    <span class="fs-2 evoSkills">EvoSkills</span>
    <div class="container white-box">
         <div class="row img-div">
            <img src="assets\evologo.jpg"
                alt="evologo" class="mx-auto d-block evo-logo ">
        </div>
        <div class="row register-inputs mx-auto d-block ">
            <span class="fs-3 register-title">Create an account</span>
            <form (ngSubmit)="register($event)">
                <div class="form-floating">
                    <input type="email" class="form-control input-email" name="email" [(ngModel)]="email" required
                        placeholder="e-mail">
                    <label>Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control input-password" name="password" [(ngModel)]="password"
                        required placeholder="password">
                    <label>Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control input-password" name="password" [(ngModel)]="passwordAgain"
                        required placeholder="password">
                    <label>Password again</label>
                </div>
                <div class="invalid-input-div">
                    <span *ngIf="errorMsg" class="invalid-input">{{errorMsg}}</span>
                    <span *ngIf="invalidRegister" class="invalid-input">Incorrect email or password</span>
                    <span *ngIf="" class="invalid-input">Incorrect email or password</span>
                </div>
                <button type="submit" class="register-button btn btn-outline-success">Register</button>
            </form>
        </div>
    </div>
</div>