.team-name-div {
    background-color: var(--maincolor);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding: 6.5px;
}

.team-name {
    color: var(--maintextcolor);
    vertical-align: middle;
    line-height: 1;
    font-size: 2rem;
    word-wrap: break-word; 
}
.bi-x-circle {
    color: red;
    margin-top: -10px;
}
a {
    text-decoration: none;
    color: black;
}
.member-name {
    margin-left: 10px;
    font-size: 1.2rem;
    word-wrap: break-word;
}

.member-name-div {
    display: block;
    border-bottom: 1px solid #dee2e6;;
}

.member-name-div:last-child{
    border-bottom: none;
    padding-bottom: 0.5rem;
}

hr {
    border: 1px solid #969696;
    margin-right: 5px;
    margin-left: 5px;
}

.add-team {
    float: left;
    margin-left: 6.5%;
    margin-top: 10%;
}

.team-card {
    background-color: #D9D9D9;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 5px;
}
.team-name-editing{
    text-align: center;
    width: 70%;
    display: inline;
    justify-content: center;
}

@media only screen and (max-width: 575.9px) {
    .team-name{
        font-size: 2rem;
    }
    .member-name {
        font-size: 1rem;
    }
}