<div class="container">
    <div class="info-bar-table m-3 d-flex flex-column flex-sm-row justify-content-between align-items-center ">
        <div>
            <span class="all-team-members fs-3">{{ team_name }}</span>
        </div>
        <div class="d-flex align-items-center mt-3 mt-sm-0 buttons-div ms-100">
            <a (click)="goToTeamMemberView(team_id)" class="btn btn-light change-to-teams-view" role="button">Change to teams view</a>
        </div>
    </div>
    <app-skill-table [teamId]="team_id"></app-skill-table>
</div>
