<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="row nav-item">
            <a *ngIf="user" class="nav-link" role="button" (click)="goToMemberProfile()">{{user.name}}</a>
        </div>
        <div class="row nav-item">
            <a class="nav-link">EvoSkills</a>
        </div>
        <div class="row nav-item">
            <a class="col nav-link" [routerLink]="['/dashboard/learning']">Learning</a>
            <a class="col nav-link" [routerLink]="['/dashboard/teams']">Overview</a>
            <a class="col nav-link" routerLink="" (click)="logout($event)">Sign out</a>
        </div>
    </div>
</nav>