<div class="container">
    <div class="pageName">
        <span class="learningPage">Learning page</span>
    </div>
    <div class="search">
        <input type="text" class="inputField" placeholder="Search...">
        <br>
        <button class="inputButton">Search</button>
    </div>
    <div class="categories">
        <div class="category">
            <span class="categoryName">example_category</span>
        </div>
        <table class="categoryTable">
            <tr class="tableRow">
                <td class="tableColumn">example_skill</td>
                <td class="tableColumn">example_skill</td>
            </tr>
            <tr class="tableRow">
                <td class="tableColumn">example_skill</td>
                <td class="tableColumn">example_skill</td>
            </tr>
        </table>
        <div class="category">
            <span class="categoryName">example_category</span>
        </div>
    </div>
</div>