<div class="container">
    <div class="page-name green-box">
        <h1 class="fs-1 mt-2">Learning page</h1>
    </div>
    <div class="search">
        <input type="text" class="inputField" placeholder="Search...">
        <br>
        <button class="inputButton">Search</button>
    </div>
    <div class="categories">
        <div class="category">
            <span class=" green-box">example_category</span>
        </div>
        <table class="categoryTable">
            <tr class="tableRow">
                <td class="tableColumn">example_skill</td>
                <td class="tableColumn">example_skill</td>
            </tr>
            <tr class="tableRow">
                <td class="tableColumn">example_skill</td>
                <td class="tableColumn">example_skill</td>
            </tr>
        </table>
        <div class="category">
            <span class="green-box">example_category</span>
        </div>
    </div>
</div>