<div class="container">
    <div class="page-name green-box w-70 mt-4">
        <span class="fs-2 mt-2 mb-2">Learning page</span>
    </div>
    <div class="search m-3">
        <input type="text" class="input-field" placeholder="Search...">
        <br>
        <button class="input-button w-25 fs-4 mt-2">Search</button>
    </div>
    <!-- <div class="categories">
        <div class="category mt-4 mb-4">
            <span class="green-box fs-3">example_category</span>
        </div>
        <div class="category-grid">
            <div class="row">
                <span class="col-sm-12 col-md-6 skill">example_skill</span>
                <span class="col-sm-12 col-md-6 skill">example_skill</span>
                <span class="col-sm-12 col-md-6 skill">example_skill</span>
                <span class="col-sm-12 col-md-6 skill">example_skill</span>
            </div>
        </div>
        <div class="category mt-4 mb-4">
            <span class="green-box fs-3">example_category</span>
        </div>
    </div> -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-1">
            <div class="album py-2">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img width="100%" height="225" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="flush-collapse-1" focusable="false" type="button" data-bs-toggle="collapse" aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fz%2Ffrontend-development-web-banner-concept-website-interface-frontend-development-web-banner-concept-website-interface-design-159250288.jpg&f=1&nofb=1&ipt=a37515946ef92e14108d4224834e0d97f5b6ff0b8238acd734d639fd5d5fd0b5&ipo=images"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </h2>
            <div id="flush-collapse-1" class="accordion-collapse collapse" aria-labelledby="flush-heading-1"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="category-grid">
                        <div class="row skill-row">
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-2">
            <div class="album py-2">
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img width="100%" height="225" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapse-2" focusable="false" type="button" data-bs-toggle="collapse" aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.somkiat.cc%2Fwp-content%2Fuploads%2F2018%2F04%2Fbackend.jpeg&f=1&nofb=1&ipt=2e4ef119154c1abb0d292a1f0fb0b07fd49fd645cf106f6cc835096a54b14e2e&ipo=images"/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </h2>
            <div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="flush-heading-2"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="category-grid">
                        <div class="row skill-row">
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                            <span class="col-xs-12 col-md-5 skill text-center">example_skill</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>