.member-name-div {
    background-color: var(--maincolor);
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.member-card {
    background-color: #fff;
    padding-right: 0px;
    padding-left: 0px;
    border: 0px none;
    box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}
.member-name {
    color: white;
}
.tags{
    height: 100px;
    white-space:nowrap;
    margin-top: 5px;
}

.tag {
    background-color: #646161;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 5px;
    float: left;

}

.noSkills {
    float: none;
}

.view-profile-div {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: var(--maincolor);
    border-radius: 5px;
    height: 24px;
    line-height: 25px;
}

.view-profile {
    color: white;
    text-decoration: none;
}

hr {
    border: 1px solid #969696;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.bi-x-circle {
    color: white;
    margin-top: -3px;
    margin-right: 1px;
}

@media only screen and (max-width: 575.9px) {
    .team-name{
        font-size: 2rem;
    }
    .member-name {
        font-size: 1rem;
    }
}

