<div class="container-fluid">
    <div class="category-data">
        <div class="card">
            <div class="card-header category-header">
                <span class="category-name">{{ categoryName }}</span>
                <ng-container *ngIf="isAdmin">
                    <a *ngIf="!isEditing" role="button" class="btn btn-light category-edit-button"
                        (click)="toggleEdit()"><i class="bi bi-pencil-fill button-icon"></i>Edit page</a>
                </ng-container>
                <a *ngIf="isEditing" role="button" class="btn btn-light category-edit-button" (click)="saveEdit()"><i
                    class="bi bi-pencil button-icon"></i>Leave editing mode</a>
            </div>
            <div class="content-div m-4">
                <div class="row m-2 mb-3">
                    <div><span class="fs-2 title">Description</span></div>
                    <div class="category-description-div ms-2">
                        <div class="about-div">
                            <span *ngIf="!isEditing" class="descrption-text">{{categoryDescription}}</span>
                            <textarea *ngIf="isEditing" value="{{categoryDescription}}"
                                (change)="saveCategoryDescription($event)" maxlength="2048"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row m-2 mb-3">
                    <span class="fs-2 title">Abilities in this category</span>
                    <div class="container abilities-in-this-category-div ms-2">
                        <ng-container *ngIf="!isEditing">
                            <ng-container *ngIf="categorySkills.length !==0;else noCategorySkills">
                                <ng-container *ngFor="let skill of categorySkills">
                                    <span role="button" (click)="goToSkillPage(skill.skill_id,skill.skill_name)"
                                        class="fs-6">{{skill.skill_name}}</span>
                                    <br>
                                </ng-container>
                            </ng-container>
                            <ng-template #noCategorySkills>
                                <span class="fs-6">There is no skill that falls into this category</span>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="isEditing">
                            <ng-container *ngFor="let skill of categorySkills">
                                <div class="form-floating mb-2">
                                    <input readonly="readonly" class="form-control"
                                        id="'skillIdInput' + {{skill.skill_id}}" value="{{skill.skill_name}}">
                                    <label for="'skillIdInput' + {{skill.skill_id}}">Skill name</label>
                                    <button (click)="deleteSkillAndMemberSkills(skill.skill_id)" type="button"
                                        class="btn btn-danger mt-1">Delete</button>
                                </div>
                            </ng-container>
                            <div class="add-new-wiki-skill-button">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuButton" (click)="deletErrorMessage()" data-bs-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">Add new skill</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="px-2 py-2">
                                            <div class="mb-3">
                                                <label for="newSkill" class="form-label">Write skill name(max. 32 letter)</label>
                                                <input type="text" maxlength="32" [(ngModel)]="newSkillName" class="form-control" id="newSkill" placeholder="New skill name">
                                            </div>
                                            <button (click)="addNewSkill($event)" class="btn save-button">Save</button>
                                            <span class="error-text" *ngIf="isSkillNameInvalid">Incorrect skill name</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="row m-2 mb-3">
                    <div><span class="fs-2 title">Other</span></div>
                    <div class="other-links-div ms-2">
                        <ng-container *ngIf="!isEditing">
                            <ng-container *ngIf="otherLinks.length !== 0; else noOtherLinks">
                                <ng-container *ngFor="let other_link of otherLinks">
                                    <a href="{{other_link.category_link}}"
                                        class="fs-6">{{other_link.category_linkname}}</a>
                                    <br>
                                </ng-container>
                            </ng-container>
                            <ng-template #noOtherLinks>
                                <span class="fs-6">No other links.</span>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="isEditing">
                            <ng-container *ngFor="let other_link of otherLinks">
                                <div class="form-floating mb-1">
                                    <input class="form-control"  maxlength="64"
                                        id="'otherLinkNameInput' + {{other_link.categorylinks_id}}"
                                        value="{{other_link.category_linkname}}"
                                        (change)="saveCategoryLinkName($event, other_link.categorylinks_id)">
                                    <label for="'otherLinkNameInput' + {{other_link.categorylinks_id}}">Link
                                        name</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input class="form-control"  maxlength="1024"
                                        id="'otherLinkURLInput'  + {{other_link.categorylinks_id}}"
                                        value="{{other_link.category_link}}"
                                        (change)="saveCategoryLink($event, other_link.categorylinks_id)">
                                    <label for="'otherLinkURLInput'  + {{other_link.categorylinks_id}}">Link URL</label>
                                    <button (click)="deleteLink(other_link.categorylinks_id)" type="button"
                                        class="btn btn-danger mt-1">Delete</button>
                                </div>
                            </ng-container>
                            <div class="add-new-other-category-button">
                                <button type="button" class="btn btn-success" (click)="addNewLink()">Add new other
                                    link</button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>