<div class="container-fluid">
    <div class="category-page-header">
        <span class="category-name">{{ categoryName }}</span>
        <a *ngIf="!isEditing" role="button" class="btn btn-light category-edit-button" (click)="toggleEdit()">Edit
            page</a>
        <a *ngIf="isEditing" role="button" class="btn btn-light category-edit-button" (click)="saveEdit()">Save</a>
    </div>
    <div class="content-div m-4">
        <div class="row m-2 mb-3">
            <div><span class="fs-2">Description</span></div>
            <div class="category-description-div ms-4">
                <div class="about-div">
                    <span *ngIf="!isEditing" class="descrption-text">{{categoryDescription}}</span>
                    <textarea *ngIf="isEditing" value="{{categoryDescription}}" maxlength="2048" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row m-2 mb-3">
            <div><span class="fs-2">Abilities in this category</span></div>
            <div class="container abilities-in-this-category-div ms-4" >
                <ng-container *ngIf="!isEditing">
                    <ng-container *ngIf="categorySkills.length !==0;else noCategorySkills">
                        <ng-container *ngFor="let skill of categorySkills">
                            <span role="button" (click)="goToSkillPage(skill.skill_id,skill.skill_name)" class="fs-6">{{skill.skill_name}}</span>
                            <br>
                        </ng-container>
                    </ng-container>
                    <ng-template #noCategorySkills>
                        <span class="fs-6">There is no skill that falls into this category</span>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="isEditing">
                    <ng-container *ngFor="let skill of categorySkills">
                        <div class="form-floating mb-2">
                            <input readonly="readonly" class="form-control" id="'skillIdInput' + {{skill.skill_id}}"
                                value="{{skill.skill_name}}">
                            <label for="'skillIdInput' + {{skill.skill_id}}">Skill name</label>
                            <button (click)="deleteSkill(skill.skill_id)" type="button"
                                class="btn btn-danger mt-1">Delete</button>
                        </div>
                    </ng-container>
                    <div class="add-new-wiki-skill-button">
                        <button type="button" class="btn btn-success" (click)="addNewSkill()">Add new skill</button>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row m-2 mb-3">
            <div><span class="fs-2">Other</span></div>
            <div class="other-links-div ms-4">
                <ng-container *ngIf="!isEditing">
                    <ng-container *ngIf="otherLinks.length !== 0; else noOtherLinks">
                        <ng-container *ngFor="let other_link of otherLinks">
                            <a href="{{other_link.category_link}}" class="fs-6">{{other_link.category_linkname}}</a>
                            <br>
                        </ng-container>
                    </ng-container>
                    <ng-template #noOtherLinks>
                        <span class="fs-6">No other links.</span>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="isEditing">
                    <ng-container *ngFor="let other_link of otherLinks">
                        <div class="form-floating mb-1">
                            <input class="form-control" id="'otherLinkNameInput' + {{other_link.categorylinks_id}}"
                                value="{{other_link.category_linkname}}">
                            <label for="'otherLinkNameInput' + {{other_link.categorylinks_id}}">Link name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input class="form-control" id="'otherLinkURLInput'  + {{other_link.categorylinks_id}}"
                                value="{{other_link.category_link}}">
                            <label for="'otherLinkURLInput'  + {{other_link.categorylinks_id}}">Link URL</label>
                            <button (click)="deleteLink(other_link.categorylinks_id)" type="button"
                                class="btn btn-danger mt-1">Delete</button>
                        </div>
                    </ng-container>
                    <div class="add-new-other-category-button">
                        <button type="button" class="btn btn-success" (click)="addNewLink()">Add new other link</button>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row m-2 mb-3">
            <div><span class="fs-2">Ask them!</span></div>
            <div class="fs-6 ms-4 ask-them-names-div">
                <span><a href="/profile/1" class="fs-6">user_name_example_1</a></span>
                <span><a href="/profile/2" class="fs-6">user_name_example_2</a></span>
                <span><a href="/profile/3" class="fs-6">user_name_example_3</a></span>
                <span><a href="/profile/4" class="fs-6">user_name_example_4</a></span>
            </div>
        </div>
    </div>
</div>