/* You can add global styles to this file, and also import other style files */

body {
    font-size: 14px;
    margin: 0;
    background-color: rgb(250, 250, 249)
}

* {
    box-sizing: border-box;
}

:root {
    --maincolor: #4C7E1E;
    --maintextcolor: white;
}

.green-box {
    justify-content: center;
    align-items: center;
    background-color: #4C7E1E;

    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 5px;
    display: flex;
    color: white;
}


