<div class="info-bar">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <div>
            <span class="fs-3 all-teams">All teams</span>
            <span class="fs-3 team-number">{{teams.length}} teams</span>
        </div>

        <div class="d-flex align-items-center mt-3 mt-sm-0 buttons-div ms-100">
            <a (click)="goToTableView()" role="button" class="btn btn-light table-view-button"><i class="bi bi-table"></i>Change to table view</a>
            <ng-container *ngIf="isAdmin">
                <a role="button" *ngIf="!isEditing;else editing" (click)="changeStatus()" class="btn btn-light edit-teams-button"><i class="bi bi-pencil-fill"></i>Edit teams</a>
            </ng-container>
            <ng-template #editing>
                <a role="button" (click)="changeStatus()" class="btn btn-light edit-teams-button"><i class="bi bi-pencil"></i>Leave editing mode</a>
            </ng-template>
        </div>
    </div>
</div>
